@import "tailwindcss";

@theme {
  --color-prmary: "#202B86";
  --color-background: "#0F1418";
  --color-card: "#141A1F";
  --color-border: "#242B32";
  --color-surface: "#1A2329";
  --color-text: "#F0F2F5";
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}